    <main class="wrapper">
        <section>
            <h2>Здравейте и Добре дошли!</h2>
            <p>Ние сме вашият дестинация номер едно за индивидуално дизайнерско облекло и шивашки услуги. В нашето ателие вярваме, че всеки човек заслужава да се чувства специален и уникален в своето облекло.</p>
        </section>
        <section>
            <h2>Нашата Мисия</h2>
            <p>Нашата цел е да ви помогнем да изразите своя стил и личност чрез уникални и персонализирани дрехи. Независимо дали става въпрос за ежедневни облекла, специално създадени рокли за специални събития или корпоративни униформи, ние сме тук, за да ви осигурим индивидуално решение, което отразява вашите предпочитания и нужди.</p>
        </section>
        <section>
            <h2>Нашите Услуги</h2>
            <ul>
                <li>Индивидуално Дизайнерско Облекло</li>
                <li>Коригиране и Преустройство</li>
                <li>Консултации за Стил</li>
            </ul>
        </section>
        <section>
            <h2>Защо Да Изберете Нас?</h2>
            <ul>
                <li>Индивидуално Отношение</li>
                <li>Качество</li>
                <li>Креативност</li>
            </ul>
        </section>
        <section>
            <h2>Свържете се с Нас</h2>
            <p>Не се колебайте да се свържете с нас, за да започнем да работим заедно върху вашия следващ проект. Без значение дали имате ясна представа за това, което искате, или имате нужда от малко вдъхновение, ние сме тук, за да ви помогнем.</p>
        </section>
    </main>
